/*----------step 3----------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*----------step 3----------*/


/*----------step 4----------*/
body {
	font-family: "Open Sans", sans-serif;
}
/*----------step 4----------*/


/*----------step 5----------*/

nav {
	background-color: white;
	position: sticky;
	width: 100%;
}
ul {
	padding: 20px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;	
}

#logo {
	width: 160px;
}

.nav {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	margin: 2rem;
}
/*----------step 5----------*/


/*----------step 6----------*/
.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 1rem;
	padding: 1rem;
	border: none;
}
/*----------step 6----------*/


/*----------step 7----------*/
#bg-image {
	min-height: 76vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: relative;
	margin-top: -180px;
}

section .title {
	font-size: 3.5rem;
	padding-top: 12.5rem;
	padding-bottom: 30px;
}
section .container {
	font-family: "Zilla slab";
	font-stretch: ;
	color: white;
	text-align: right;
	margin-right: 10%;
}

section .subtitle {
	padding-bottom: 30px;
	letter-spacing: px;
}
.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	width: 230px;
	border-radius: 30px;
	font-size: 1rem;
	padding: 1rem;
	border: none;
}

.intro {
	font-size: 30px;
	text-align: center;
	padding: 2rem;
}

.intro-description {
	font-size: 1.5rem;
	text-align: justify;
	margin: 64px 10% 10px;

}

.pre-footer {
	font-size: 26px;
	text-align: center;
	padding: 2rem;
	margin-top: 1rem;
}

.prefooter-description {
	font-size: 1.5rem;
	text-align: justify;
	margin: 64px 10% 10px;
}
/*----------step 7----------*/


/*----------step 8----------*/
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 76vh;
}
/*----------step 8----------*/


/*----------step 9----------*/
.title-2 {
	font-family: "Zilla slab";
}
/*----------step 9----------*/


/*----------step 10----------*/
.pre-footer {
	background-color: #f7fbfb;
}
/*----------step 10----------*/


/*----------step 11----------*/
.book-button {
	color: white;
	background-color: #336589;
	width: 230px;
	border-radius: 30px;
	font-size: 1rem;
	margin-top: 2rem;
	padding: 1rem;
	border: none;
}
/*----------step 11----------*/


/*----------step 12----------*/
footer {
	text-align: center;
	padding: 2rem;
}
/*----------step 12----------*/
